body {
	background-color: #262626;
}

a.active {
	text-shadow: none;
}

.btn-link:hover {
	color: #fff;
	text-decoration: none;
}

.button-link {
	text-decoration: none;
	color: #fff;
}

.button-link:hover {
	color: #fff;
	text-decoration: none;
}

.nav-link:hover {
	color: #b3b3b3;
	text-decoration: none;
}

.card-contact {
	margin-top: 20px;
}

.card-img-overlay {
	text-align: center;
	letter-spacing: 2px;
	font-size: 2vw;
	top: 50%;
	border-color: rgba(201, 76, 76, 0);
}
@media screen and (max-width: 800px) {
	.card-img-overlay {
		font-size: 16px;
		top: 25%;
	}
}

.card-intro {
	background-color: #262626;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.card-intro-text {
	text-align: center;
	letter-spacing: 4px;
}
@media screen and (max-width: 800px) {
	.card-intro-text {
		font-size: 14px;
		letter-spacing: 2px;
	}
}

.card-intro-title {
	text-align: center;
	letter-spacing: 2px;
}
@media screen and (max-width: 800px) {
	.card-intro-title {
		font-size: 18px;
		letter-spacing: 1px;
	}
}

.card-sec-image {
	margin-bottom: 20px;
	border-color: #262626 !important;
}

.center-image-text {
	position: absolute;
  top: 50%;
  left: 50%;
  font-size: 30px;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 600px) {
	.center-image-text {
		margin-top: 25px;
  	margin-bottom: 20px;
	}
}

.contact {
	text-align: center; 
	margin: 40px;
	color: #fff;
}

.contact-info {
	color: #fff;
	margin-bottom: 20px;
	text-align: center;
}

.container {
	margin-top: 20px;
	margin-bottom: 20px;
}

.cover-image {
	position: relative;
	text-align: center;
	color: #fff;
}

.cover-image-button {
	color: #fff;
	font-size: 2vw;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 50px;
}
@media screen and (max-width: 800px) {
	.cover-image-button {
		font-size: 10px;
		margin-top: 0px;
	}
}

.cover-image-title {
	font-size: 125px; 
	font-family: 'Manrope', sans-serif;
	letter-spacing: 2px;
}
@media screen and (max-width: 800px) {
	.cover-image-title {
		font-size: 25px;
/*		top: 25%;*/
	}
}

.cover-image-subtitle {
	font-size: 3vw;
}
@media screen and (max-width: 800px) {
	.cover-image-subtitle {
		font-size: 15px;
	}
}

.cover-name {
	color: #d9d9d9; /*#009933 green*/
	text-transform: uppercase;
	letter-spacing: 2px;
}

.footer {
	position: relative;
	left: 0;
	bottom: 0;
	margin-top: 20px;
	height: 40px;
	width: 100%;
	padding-top: 10px;
	color: #fff;
	text-align: center;
}
@media screen and (max-width: 800px) {
	.footer {
		font-size: 12px;
	}
}

.image {
	max-width: 100%;

}

.nav {
	position: absolute; /*this made the nav transparent over the image*/
	text-transform: uppercase;
	letter-spacing: 2px;
}
@media screen and (max-width: 700px) {
	.nav {
		font-size: 12px;
		letter-spacing: 0px;
	}
}
@media screen and (min-width: 700px) {
	.nav {
		font-size: 20px;
	}
}

.nav-item {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 20px;
	margin-right: 20px;
}

.nav-link {
	color: #fff;
}

.train-image {
	margin-bottom: 0px;
	border-color: rgba(201, 76, 76, 0);
	filter: grayscale(50%);
	filter: brightness(75%);
}